---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Now · Ethan Hann" description="What I'm focused on right now.">
    <h1>Now</h1>

    <p>
        What I'm focused on right now.
        Inspired by{' '}
        <Link href="https://nownownow.com/about">Derek Sivers' /now page.</Link>{' '}
        <span>Last updated · April 2026</span>
    </p>


    <h2>Work</h2>

    <h3>Open source in Rust</h3>

    <p>Most of my coding time goes here.</p>
    <p>Working on a few projects I've had bouncing around in the back of my mind for a decade.</p>

    <h3>Consulting</h3>

    <p>Selectively taking on engagements between deeper work. Reach out if it sounds like a fit.</p>

    <h2>Life</h2>

    <p>
        Early spring is always a race to complete preliminary farm work before the growing season gets underway.
    </p>
    <p>Trying to refocus my energies toward more meaningful pursuits.</p>
</Layout>